# --- SICUREZZA ---
# Mai caricare le chiavi API!
.env
src/key.env
key.env

# --- PYTHON ---
# File temporanei di sistema e cache
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.idea/
.vscode/

# --- DATI E LOG ---
# Ignora i log di sistema e i report generati
logs/
output/